.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font-family: "Segoe UI", Arial, sans-serif;
}
h1 {
  font-weight: 400;
  font-size: 25px;
  color: rgb(60, 60, 60);
  line-height: 1;
  margin-bottom: 15px;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: rgb(115, 115, 115);
  font-size: 16px;
  font-weight: 100;
  line-height: 22px;
}
li::first-letter {
  text-transform: capitalize;
}
.input-contain {
  position: relative;
}
a {
  text-decoration: none;
}

input {
  height: 3rem;
  width: 40rem;
  border: 2px solid black;
  border-radius: 1rem;
}
input:focus {
  outline: none;
  border-color: blueviolet;
}
input:focus + .placeholder-text .text,
:not(input[value=""]) + .placeholder-text .text {
  background-color: white;
  font-size: 1.1rem;
  color: black;
  transform: translate(110%, -100%);
}
input:focus + .placeholder-text .text {
  border-color: blueviolet;
  color: blueviolet;
}
.placeholder-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px solid transparent;
  background-color: transparent;
  pointer-events: none;
  display: flex;
  align-items: center;
}
.text {
  font-size: 1.4rem;
  padding: 0 0.5rem;
  background-color: transparent;
  transform: translate(0);
  color: rgb(87, 27, 144);
  transition: transform 0.15s ease-out, font-size 0.15s ease-out,
    background-color 0.2s ease-out, color 0.15s ease-out;
}
input,
.placeholder-text {
  font-size: 1.4rem;
  padding: 0 1.2rem;
}

@media (max-width: 40rem) {
  input {
    width: 70vw;
  }
}
.search-text {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2c1a5d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #673fd7;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search-button {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  height: 3rem;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  min-width: 70px;
}

.search-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 10px;
  transition-duration: 0.1s;
}
.disable-link {
  color: rgb(33, 33, 33);
  cursor: default;
}

.disable-link :hover {
  text-decoration: none;
  color: rgb(33, 33, 33);
}

.weather-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather {
  display: block;
  padding: 20px;
  border: 2px solid #dadde1;
  border-radius: 5px;
}
.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 85px;
  width: 85px;
}
.weather-temperature strong {
  font-weight: 400;
  font-size: 64px;
  color: rgb(33, 33, 33);
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-forecast img {
  height: 64px;
  width: 64px;
  align-items: center;
}
.next-temp {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 0;
}
.next-day {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
.next-day-max {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  padding-right: 3px;
}
.next-day-min {
  padding-left: 3px;
  font-weight: 400;
  font-size: 14px;
}
.none-link {
  color: inherit;
  text-decoration: inherit;
}
.none-link:hover {
  color: inherit;
  text-decoration: inherit;
}

.footer-link {
  font-weight: 700;
  text-decoration: none;
  color: #673fd7;
}
.footer-link:hover {
  color: #c53fd7;
  text-decoration: underline;
}
.wrapper {
  display: inline-flex;
  list-style: none;
}
.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}
